
.start-screen{
  position: relative;
  background-color: #404040;
  width: 100vw;
  height: 100vh;
  max-width:100%;
  display: flex;
  justify-content: center;
  align-items: center;

  
  
  img{
    height: 99vh;
  }

  span{
    position:absolute;
    top:15%;
    left: 45%;
    color:rgb(218, 14, 14);
    font-size: 35px;
     &:hover{
      filter:brightness(1.75);
      cursor: pointer;
      
    }
    

  }
 
}